footer
{
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
	background-color: #333333;
}

li 
{
	list-style: none;
}

.no-margin-bottom
 {
	margin: 0;
}

.helloworld-list
{
	padding-left: 0;
	list-style: none	
}

.footer > .container-fluid
{
	padding-right: 15px;
	padding-left: 15px;
}

.container-fluid .text-muted
{
	margin: 20px 0;
	font-weight: 300;
	color: #ffffff;  
}

.earth-icon
{
	padding-left: 20px;
	font-size: 128px;	
}

.no-padding
{
	padding: 0;	
}

.hidden-elm 
{
	display: none;
}

#sign-in-button 
{
	line-height: 17px;
	
}

.key_status.glyphicon-ok 
{
	color: green;
}

.key_status.glyphicon-remove 
{
	color: red;
}

#navbar-search-btn
{
	padding-bottom: 2px;
}

.panel-heading span
{
    margin-top: -26px;
    font-size: 15px;
    
}

#message_field
{
	overflow: hidden;
}

.clickable 
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
}

#close-message-btn
{
	 color: inherit; 
	 display: inline-block;
} 

#content
{
	margin-top: 21px;
}

#loading
{
	padding: 0;
	height: 5px;
	width: 100%;
}

#loading-bar
{
	background-color: orange;
	height: 5px;
	width: 0%;
}