.container-fluid
{
	max-width:1500px;
}

footer
{
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
	background-color: #333333;
}

li 
{
	list-style: none;
}

li > a > .glyphicon
{
	top: 2px;
}

.dropdown-menu>li>div 
{
	padding: 12px 15px;
	color: white;
	font-size: 13px;
    font-weight: 300;
	width: 250px;
}

.no-margin-bottom
{
	margin: 0;
}

.footer > .container-fluid
{
	padding-right: 15px;
	padding-left: 15px;
}

.container-fluid .text-muted
{
	margin: 20px 0;
	font-weight: 300;
	color: #ffffff;  
}

.no-padding
{
	padding: 0;	
}

.hidden-elm 
{
	display: none;
}

.welcome-blob 
{
	font-weight: 100;
	font-size: 2em;
}

.faq-list 
{
	padding-left: 0px;
}

.option 
{
	font-weight: 400;
}

.question
{
	font-weight: 400;
}

.answer
{
	font-weight: 200;
}

#sign-in-button 
{
	line-height: 17px;
	
}

.key_status.glyphicon-ok-circle 
{
	color: green;
}

.key_status.glyphicon-banned-circle 
{
	color: yellow;
}

.key_status.glyphicon-remove-circle 
{
	color: red;
}

#navbar-search-btn
{
	padding-bottom: 2px;
}

.panel-heading span
{
    margin-top: -26px;
    font-size: 15px;
    
}

#message_field
{
	overflow: hidden;
}

.clickable 
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
}

#close-message-btn
{
	 color: inherit; 
	 display: inline-block;
} 

#content
{
	margin-top: 21px;
}

#loading
{
	position: relative;
    overflow: hidden;
	height: 5px;
	width:0%;
}

#loading-bar
{
	position: absolute;
    left: -46px;
    right: 0;
    top: 0;
    bottom: 0;
	
  background: -webkit-repeating-linear-gradient(
    145deg,
    #008cba 1px,
    #5ab4d2 2px,
    #5ab4d2 11px,
    #008cba 12px,
    #008cba 20px
  );
  background: repeating-linear-gradient(
    -55deg,
    #008cba 1px,
    #5ab4d2 2px,
    #5ab4d2 11px,
    #008cba 12px,
    #008cba 20px
	);
    
    -webkit-animation-name: MOVE-BG;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
    animation-name: MOVE-BG;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	height: 5px;
}

@-webkit-keyframes MOVE-BG {
	from {
		-webkit-transform: translateX(0);
	}
	to { 
		-webkit-transform: translateX(46px);
	}
}

@keyframes MOVE-BG {
	from {
		transform: translateX(0);
	}
	to { 
		transform: translateX(46px);
	}
}

.paused {
   -ms-animation-play-state:paused;
   -o-animation-play-state:paused;
   -moz-animation-play-state:paused;
   -webkit-animation-play-state:paused;
  animation-play-state: paused;
}

.running {
   -ms-animation-play-state:running;
   -o-animation-play-state:running;
   -moz-animation-play-state:running;
   -webkit-animation-play-state:running;
  animation-play-state: running;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder
{
	color: white !important;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: white !important;
}

.test {
	background: red !important;
}

.filebox:hover
{
	box-shadow: 0px 12px 10px -10px #AAA;
}

.filebox:hover > .filebox-header
{
	background-color: #EFEFEF;
}

.filebox
{
	border: 2px solid #D8D8D8;
	box-shadow: 0px 10px 10px -10px #AAA;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px; 
	font-size: 17px;
}

.filebox-header
{
	background-color: #F4F4F4;
	border-bottom: 1px solid #D0D0D0;
	height: 4em;
	padding: 7px;
	color: #939393;
}

.filebox-header > .col-xs-2, .filebox-header > .col-xs-9, .filebox-header > .col-xs-1
{
	padding: 0;
}

.filebox-filetype
{
	font-size: 2em;
	color: #D8D8D8;
	margin-top: 6px;
}

.filebox-preview
{
	background-color: #FFFFFF;
	height: 5.25em;
	padding: 7px;
	color: #939393;
}

.filebox-preview > .col-xs-2, .filebox-preview > .col-xs-10, .filebox-preview > .col-xs-12
{
	padding: 0;
}

.filebox-preview .col-xs-9
{
	margin: 0 16px 0 0;
}

.filebox-remove
{
	color: #C4C4C4;
}

.filebox-remove:hover
{
	color: #7F7F7F;
}

.filebox-download-holder
{
	height: 25px;
}

.filebox-download
{
	font-size: 2.5em;
	color: #C4C4C4;
}

.filebox-download:hover
{
	color: #7F7F7F;
}

.filebox-body
{

}